{% extends "network/layout.html" %}
{% load static %}
{% block JSscript %}
    <script src="{%static 'network/index.js'%}" ></script>
    <script src="{%static 'network/functions.js'%}" ></script>
{% endblock JSscript %}
{% block body %}

{% if user.is_authenticated %}
    {% csrf_token %}
{% endif %}
    <div id="new-post" class="">
        <div class="d-flex-row">
            <h3>New post</h3>
            <textarea id="new-post-text" class="form-control" rows="3" placeholder="What's on your mind?"></textarea>
            <button id="new-post-button" class="btn btn-primary">Post</button>
        </div>
    </div>
    <hr>
    <div id="all-posts" class="">
        <h3 class="position-relative container">All posts</h3>
        <template id="post-template">
            <div class="post shadow border border-primary rounded mb-2 p-2 d-flex flex-column col">
                <div class="post_body"></div>
                <div class="bottom_info d-flex">
                    <div class="like d-flex">
                        <a><div class="like_button"></div></a>
                        <span class="like_count pl-1"></span>
                    </div>
                    <div class="post_info ml-auto font-italic">
                        Added by <a class="post_author"></a> on <span class="post_date"></span>
                    </div>
                </div>
            </div>
        </template>
    </div>
    <hr>
    <div id="nav-bar" class='d-flex'>
        <nav aria-label="Page navigation" class="mx-auto">
            <ul class="pagination"></ul>
        </nav>
    </div>
{% endblock %}